<div class="login-form">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2 class="text-center">Registreren</h2>
    
        <div class="form-group row" style="margin-bottom: 0px">
            <div class="col">
                <label for="username">
                    Gebruikersnaam
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <input id="username" type="text" formControlName="username" class="form-control" placeholder="Gebruikersnaam">
            </div>
        </div>
    
        <div class="form-group row" style="margin-bottom: 0px">
            <div class="col">
                <label for="email">
                    Emailadres
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <input id="email" type="text" formControlName="email" class="form-control" placeholder="Emailadres">
            </div>
        </div>
    
        <div class="form-group row" style="margin-bottom: 0px">
            <div class="col">
                <label for="password">
                    Wachtwoord
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <input id="password" type="password" formControlName="password" class="form-control" placeholder="Wachtwoord">
            </div>
        </div>

        <div class="form-group row" style="margin-bottom: 0px">
            <div class="col">
                <label for="confirmPassword">
                    Wachtwoord bevestigen
                </label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" placeholder="Wachtwoord">
            </div>
        </div>
        
        <button [ngClass]="{'disabled': registerForm.invalid}" class="btn btn-primary" type="submit">Registreer</button>

        <a href="login" class="row" style="margin-left: 0px; margin-top: 10px;">Heb je al een account?</a>
    
    <div *ngIf="submit && registerForm.controls['username'].invalid" class="alert alert-danger">
        <div *ngIf="registerForm.controls['username'].errors?.required">
            Gebruikersnaam is verplicht
        </div>
    </div>
    
    <div *ngIf="submit && registerForm.controls['email'].invalid" class="alert alert-danger">
        <div *ngIf="registerForm.controls['email'].errors?.required">
            Emailadres is verplicht
        </div>
    
        <div *ngIf="registerForm.controls['email'].errors?.email">
            Voer een geldig emailadres in
        </div>
    </div>
    
    <div *ngIf="submit && registerForm.controls['password'].invalid" class="alert alert-danger">
        Minimale lengte van het wachtwoord is 6
    </div>

    <div *ngIf="submit && registerForm.errors?.mustMatchValidator" class="alert alert-danger">
        Wachtwoord komt niet overeen
    </div>   
    </form>
</div>
