.small-box {
    width: 480px;
    margin: 50px auto;
    margin-bottom: 15px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    overflow: hidden;
}

.grand-parent {
    position: relative;
}