ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
 
li {  float: left; }

.li-right {  float: right; }
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

button {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border: none;
    float: right;
}
 
li a:hover { background-color: #111111; }

button:hover { 
    background-color: #111111;
    color: white;
 }