ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #4d4d4d;
}
 
li {  float: left; }

.li-right {  float: right; }
 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li p {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    margin-bottom: 0;
    border-right: 1px solid #c4c4c4;
}

button {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    border: none;
    float: right;
}
 
li a:hover { background-color: #333333; }

li.select {
    background-color: #333333;
}

button:hover { 
    background-color: #333333;
    color: white;
}
