/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial;
    background: #f1f1f1;
}

.customDropdown ul li {
    padding: 2px 10px 2px 10px !important;
}

.container {
    background-color: white;
    margin-top: 1rem;
    border-radius: 10px !important; 
    border: 1px solid #c4c4c4;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    border-radius: 10px;
}