<h4><strong>2D grafiek</strong></h4>

<div class="row">

    <div class="col-md-3">
        <p>Golflengte</p>
    </div>

    <div class="col-md-3">
        <p>Tijdstippen</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <select class="form-control" [(ngModel)]="selectedWavelength">
            <option *ngFor="let wavelength of wavelengths" [ngValue]="wavelength">{{wavelength}}</option>
        </select>
    </div>

    <div class="col-md-3">
        <angular2-multiselect [data]="timestamps" [(ngModel)]="selectedTimestamps" [settings]="dropdownSettings"></angular2-multiselect>
    </div>

    <div class="col-md-3">
        <button class="btn btn-primary" (click)="getGraphData()">Selecteren</button>
    </div>
</div>
<div id="allWavelengths" #allWavelengths></div>
<div id="allTimestamps" #allTimestamps></div>
