<div id="allWavelengths" #allWavelengths></div>
<div id="allTimestamps" #allTimestamps></div>
<div class="card bg-light mb-3" style="margin-top: 1rem;" >
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 my-auto" style="padding-right: 0px;">Golflengte: </div>
            <div class="col-md-2 my-auto">
                <select class="form-control" [(ngModel)]="selectedWavelength">
                    <option *ngFor="let wavelength of wavelengths" [ngValue]="wavelength">{{wavelength}}</option>
                </select>
            </div>

            <div class="col-md-1 my-auto" style="padding-right: 0px;">Tijdstippen: </div>
            <div class="col-md-3 my-auto">
                <div class="customDropdown">
                    <angular2-multiselect [data]="timestamps" [(ngModel)]="selectedTimestamps"
                        [settings]="dropdownSettings"></angular2-multiselect>
                </div>
            </div>

            <div class="col-md-1 my-auto" style="padding-right: 0px;">Som: </div>
            <div class="col-md-2 my-auto">
                <div class="customDropdown">
                    <angular2-multiselect [data]="timestamps" [(ngModel)]="timestampSum"
                        [settings]="dropdownSettings2"></angular2-multiselect>
                </div>
            </div>

            <div class="col-md-2 my-auto">
                <button class="btn btn-primary" [disabled]="!selectedWavelength || selectedTimestamps.length < 1 || timestampSum.length == 1"
                    (click)="getGraphData()">Selecteren</button>
            </div>

        </div>
    </div>
</div>

<div class="card bg-light mb-3">
    <div class="card-body">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-md-1 my-auto">Vector A: </div>
            <div class="col-md-2">
                <select id="vectorAName" class="form-control" [(ngModel)]="vectorAName">
                    <option *ngFor="let name of names" [ngValue]="name">{{name}}</option>
                </select>
            </div>

            <div class="col-md-1 my-auto">Vector B: </div>
            <div class="col-md-2">
                <select id="vectorBName" class="form-control" [(ngModel)]="vectorBName">
                    <option *ngFor="let name of names" [ngValue]="name">{{name}}</option>
                </select>
            </div>

            <div class="col-md-1 my-auto">Vector C: </div>
            <div class="col-md-2">
                <select id="vectorCName" class="form-control" [(ngModel)]="vectorCName">
                    <option *ngFor="let name of names" [ngValue]="name">{{name}}</option>
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary" [disabled]="!vectorAName || !vectorBName || !vectorCName"
                (click)="calculateValues()">Bereken waardes</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 my-auto">aa:</div>
            <div class="col-md-2"> <input class="form-control" type="text" placeholder="aa" readonly [value]="aa"></div>
            <div class="col-md-1 my-auto">bb:</div>
            <div class="col-md-2"> <input class="form-control" type="text" placeholder="bb" readonly [value]="bb"></div>
            <div class="col-md-1 my-auto">distance:</div>
            <div class="col-md-2"> <input class="form-control" type="text" placeholder="distance" readonly [value]="distance"></div>
            <div class="col-md-3">
                <button class="btn btn-primary" [disabled]="!vectorAName || !vectorBName || !vectorCName"
                (click)="calculateVectorD()">Bereken D</button>
            </div>
        </div>
    </div>
</div>  