ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #6b6b6b;
  height: 100%;
}

.breed{
  max-width: 80%;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 16px;
  text-decoration: none;
}

li p {
  display: block;
  color: white;
  text-align: left;
  padding: 16px;
  text-decoration: none;
  margin-bottom: 0;
}

li a:hover {
  background-color: #333333;
}

li.select {
  background-color: #333333;
}



.sidebar {
  position: absolute;
  top: 56px;
  margin: 0 auto;
  margin-left: -148px;
}