<div class="sidebar">
  <ul style="margin-bottom: 0.5rem;">
    <li>
      <p>{{measurement?.name}}</p>
    </li>
    <li [ngClass]="{'select': selectedTab === 'export'}">
      <a routerLink="export" (click)="setSelectedTab('export')">Exporteren</a>
    </li>
    <li [ngClass]="{'select': selectedTab === '2dgraph'}">
      <a routerLink="2dgraph" (click)="setSelectedTab('2dgraph')">2D grafieken</a>
    </li>
    <li [ngClass]="{'select': selectedTab === '3dgraph'}">
      <a routerLink="3dgraph" (click)="setSelectedTab('3dgraph')">3D grafiek</a>
    </li>
  </ul>  
</div>

<router-outlet></router-outlet>