<h4><strong>Account pagina</strong></h4>
<div class="row">
    <div class="col-md-6">

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Gebruikersnaam</td>
                    <td>{{user!.username}}</td>
                </tr>
                <tr>
                    <td>Emailadres</td>
                    <td>{{user!.email}}</td>
                </tr>
                <tr>
                    <td>Administrator</td>
                    <td>{{getAdminText(user!.isAdmin)}}</td>
                </tr>
                <tr>
                    <td>Aangemaakt op:</td>
                    <td>{{user!.createdAt | date: 'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="isAdmin()">
    <button class="btn btn-primary" style="margin-right: 10px" routerLink="/users">Accounts overzicht</button>
    <button class="btn btn-primary" routerLink="/register">Nieuwe gebruiker registreren</button>
</div>