<h4><strong>Account pagina</strong></h4>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>Gebruikersnaam</td>
            <td>{{user!.username}}</td>
        </tr>
        <tr>
            <td>Emailadres</td>
            <td>{{user!.email}}</td>
        </tr>
        <tr>
            <td>Administrator</td>
            <td>{{getAdminText(user!.isAdmin)}}</td>
        </tr>
        <tr>
            <td>Aangemaakt op:</td>
            <td>{{user!.createdAt}}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="isAdmin()">
    <button class="btn btn-primary" style="margin-right: 10px" routerLink="/users">Accounts overzicht</button>
    <button class="btn btn-primary" routerLink="/register">Nieuwe gebruiker registreren</button>
</div>