th a.sort-by,
th a.sort-by-selected-down,
th a.sort-by-selected-up { 
	padding-right: 18px;
    right: 0px;
    position: relative;
}
a.sort-by:before,
a.sort-by:after,
a.sort-by-selected-up:before,
a.sort-by-selected-up:after,
a.sort-by-selected-down:before,
a.sort-by-selected-down:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}

a.sort-by:before {
	border-bottom-color: rgb(124, 124, 124);
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: rgb(124, 124, 124);
	margin-top: 1px;
}

a.sort-by-selected-up:before {
	border-bottom-color: rgb(255, 255, 255);
	margin-top: -9px;
}
a.sort-by-selected-up:after {
	border-top-color: rgb(124, 124, 124);
	margin-top: 1px;
}

a.sort-by-selected-down:before {
	border-bottom-color: rgb(124, 124, 124);
	margin-top: -9px;
}
a.sort-by-selected-down:after {
	border-top-color: rgb(255, 255, 255);
	margin-top: 1px;
}
